body{
    background-image: url(../images/newBackDrop.png);
    background-repeat: repeat;
}
h1{
    
    text-align: center;
    font-family: cursive;
}
h2{
    
    font-family: cursive;
    text-align: center;
    
}

h3{
    font-family: cursive;
    text-align: center;
}

a:link {
color:black;
background-color: transparent;
text-decoration: none;
transition: color 0.2s;
 }

    a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    }

    a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
    }
#title{
position: relative;
width:unset;

font-family: cursive;

}
#banner{

position:static;
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,1) 27%, rgba(202,202,202,1) 30%, rgba(0,0,0,1) 100%);
height: 100px;
}

#pongMult{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;

    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 10pc;
    top: 200px;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
}
#pongMult:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;

}
#gameTut{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;

    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 30pc;
    top: 200px;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
}
#gameTut:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;

}
#home{
    font-family: cursive;
    position: absolute;
    left:30px;
    top: 160px;
    }

#projects{
    font-family: cursive;
    position: absolute;
    right:30px;
    top: 160px;
    }

    #selectBox{
        position: absolute;
        top:150px;
        background: gray;
        }
