body {
    background-image: url(../images/newBackDrop.png);
    background-repeat: repeat;

 }
 #title {
    position: relative;
    text-align: center;
    font-family: cursive;
 }
 a:link {
color:black;
background-color: transparent;
text-decoration: none;
transition: color 0.2s;
}

a:visited {
color:black;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: white;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: rgb(0, 0, 0);
background-color: transparent;
text-decoration: underline;
}
 #banner{
   position: static;
   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,1) 27%, rgba(202,202,202,1) 30%, rgba(0,0,0,1) 100%);
   box-sizing: content-box;
   height: 100px;

}
 .dropbtnProj {
   position: absolute;
   background-color: transparent;
   color: black;
   font-family: cursive;
   text-align: center;
   padding-right: 16px;
   font-size: 28px;
   left: 900px;
   border: none;
}
.dropdown-contentProj {
   display: none;
   position: absolute;
   left: 900px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 16px 32px 8px rgba(0,0,0,0.2);
   z-index: 1;

}

.dropdownProj:hover .dropdown-contentProj {
   display: block;
}

.dropdownProj {
   position: absolute;
   display: inline-block;
}
.dropdown-contentProj a {

   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-contentProj a:hover {
 background-color: rgba(156, 156, 156, 0.815);
}


.dropdownGames {
   left: 50px;
   position: absolute;
   display: inline-block;
}
.dropdown-contentGames a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropbtnGames {
   
   background-color: transparent;
   color: black;
   font-family: cursive;
   text-align: center;
   padding-left: 16px;
   font-size: 28px;
   border: none;
}
.dropdown-contentGames {
   display: none;
   position: absolute;
   left: 10px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 16px 32px 8px rgba(0,0,0,0.2);
   z-index: 1;
}
.dropdown-contentGames a:hover {
 background-color: rgba(156, 156, 156, 0.815);
}
.dropdownGames:hover .dropdown-contentGames {
   display: block;
}
#menuImages{
   position: absolute;
   background: transparent;
}
#projectPic{
   position: absolute;
   width: 190px;
   height: 130px;
   left: 886px;
}
#gamePic{
   position: absolute;
   width: 190px;
   height: 130px;
}
#games{
   font-family: cursive;
   position: absolute;
   left:30px;
   top: 160px;
}
#project{
   font-family: cursive;
   position: absolute;
   right:30px;
   top: 160px;
}

#newHome{
   position: absolute;
   text-align: center;
   color:black;
   text-decoration: none;
   
   background-color: rgb(107, 107, 107);
   opacity: 80%;
   width: 150px;
   height: 100px;
   left: 45%;
   top: 250px;
   transition: color 0.3s;
   transition: opacity 0.2s;
   box-shadow: 3px 3px 5px rgb(50, 50, 50);

}
#newHome:hover{
   color: white;
   opacity: 100%;
   text-decoration: none;
}