#container {
    width: 700px;
    height: 500px;
    position: relative;
    background: black;
  }
  
  #ball {
      width: 20px;
      height: 20px;
      position: absolute;
      background-color:gray;
      left: 350px;
      top: 250px;
      
  }
  #player1 {
    width: 25px;
    height: 200px;
    position: absolute;
    background-color: white;
    left: 25px;
    top: 150px;
  }
  
  #player2 {
    width: 25px;
    height: 200px;
    position: absolute;
    background-color: white;
    right: 25px;
    top: 150px;
  }