body{
    background-image: url(../images/newBackDrop.png);
    background-repeat: repeat;
}
h1{
    
    text-align: center;
    font-family: cursive;
}
h2{
    
    font-family: cursive;
    text-align: center;
    
}

h3{
    font-family: cursive;
    text-align: center;
}

a:link {
color:black;
background-color: transparent;
text-decoration: none;
transition: color 0.2s;
 }

    a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    }

    a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
    }
#title{
position: relative;
width:unset;

font-family: cursive;

}
#banner{

position:static;
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(129,129,129,1) 27%, rgba(202,202,202,1) 30%, rgba(0,0,0,1) 100%);
height: 100px;
}

#arrayScrambler{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;
    
    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 170px;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);

}
#arrayScrambler:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;
}

#leapYear{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;
    
    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 450px;
    top: 170px;
    scale: 100%;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);

}
#leapYear:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;
    
}
#addressParser{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;

    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 800px;
    top: 170px;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
}
#addressParser:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;

}
#formFeat{
    position: absolute;
    text-align: center;
    color:black;
    text-decoration: none;

    background-color: rgb(107, 107, 107);
    opacity: 80%;
    width: 150px;
    height: 100px;
    left: 100px;
    top: 330px;
    transition: color 0.3s;
    transition: opacity 0.2s;
    box-shadow: 3px 3px 5px rgb(50, 50, 50);
}
#formFeat:hover{
    color: white;
    opacity: 100%;
    text-decoration: none;

}


#home{
font-family: cursive;
position: absolute;
left:30px;
top: 160px;
}
#games{
font-family: cursive;
position: absolute;
right:30px;
top: 160px;
}
/* .dropbtnProj {
position: absolute;
background-color: transparent;
color: black;
font-family: cursive;
text-align: center;
padding-right: 16px;
font-size: 28px;
left: 900px;
border: none;
}
.dropdownProj {
position: absolute;
display: inline-block;
}
.dropdown-contentProj {
display: none;
position: absolute;
left: 900px;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 16px 32px 8px rgba(0,0,0,0.2);
z-index: 1;

}

.dropdownProj:hover .dropdown-contentProj {
display: block;

}

.dropdown-contentProj a {

color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-contentProj a:hover {
background-color: rgba(156, 156, 156, 0.815);
} */
#comboBox{
position: relative;
text-align: center;
top:150px;


}

#selectBox{
position: absolute;
top:150px;
background: gray;
}